

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
}


:root {

    --cor-principal: white;
    --cor-secundaria: black;
    --cor-terciaria:green;


    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-seri;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    padding: 3% 14% 3% 14%;

}

.cabecalho__aba {
    display: flex;
    gap: 30px;
    align-items: center;
}

.cabecalho__aba__link {
    color: var(--cor-principal);
    font-size: 2rem;
}

.cabecalho__aba__link:hover {
    color: var(--cor-terciaria);
    transition: 0.5s;
    font-family: var(--cor-secundaria);
}

.cabecalho__img {
    width: 7%;
    border-radius: 15%;
}

.apresentacao {
    margin: 3% 15% 3% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 3.5rem;
}

.apresentacao__conteudo__subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: 2.5rem;
}


.apresentacao__imagem__galaxia {
    width: 50%;
}


.conteudo__galaxias {
    margin: 8% 15% 8% 15%;
}

.centralizando {
    text-align: center;
}


@media (max-width: 1690px) {
    .apresentacao {
        gap: 60px;
    }
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column;
    }
}